<div style="padding:20px; border: 3px solid #b2bec3; border-radius: 0.8em;">
  
         <div>
         <h1 style="margin-bottom: 10px;">결제 내역 안내</h1>
            <span id="member-id">000</span>
            님의 결제 내역입니다.<br><br>
           

               <table border="0" style="border-collapse: collapse;width:350px;">
                  <thead>
                     <tr>
                        <th style="width:55%">상품명</th>
                        <th style="width:17%">가격</th>
                        <th style="width:11%">수량</th>
                        <th style="width:17%">총액</th>
                     </tr>
                  </thead>
                  <tbody id="order-details" style="margin-bottom: 10px;">
                     <!-- 주문 내역이 동적으로 삽입될 부분 -->
                     
                  </tbody>
               </table>
                       
         </div>
         <div style="margin-top: 20px;">
            <h3>총 결제 금액: <span id="total-price"></span>원</h3>
         </div>
  </div>