<div style="padding:20px; border: 3px solid black; border-radius: 0.3em;">
      <h1>결제 내역 안내</h1>
      <div>
          <span id="member-id">000</span>
          님의 결제 내역입니다.<br><br>
  
          <table class="left" style="width:700px" border="0" cellpadding="10" style="border-collapse: collapse;">
              <thead>
                  <tr>
                      <th style="width:36%">상품명</th>
                      <th style="width:23%">가격</th>
                      <th style="width:18%">수량</th>
                      <th style="width:23%">총액</th>
                  </tr>
              </thead>
              <tbody id="order-details">
                  <!-- 주문 내역이 동적으로 삽입될 부분 -->
              </tbody>
          </table>
      </div>
      <div style="margin-top: 20px;">
          <h3>총 결제 금액: <span id="total-price"></span>원</h3>
      </div>
  </div>